@model Entities.Concrete.PaySlip
@{
    Layout = "~/Views/Shared/_AdminTemplateLayout.cshtml";
    ViewBag.Title = "Bordro Paneli";
}



<h2>Bordro Paneli</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.AppUserId, "Personel")
        @Html.DropDownListFor(model => model.AppUserId, (SelectList)ViewBag.AppUsers, "Personel Listele", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.AppUserId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Awards)
        @Html.TextBoxFor(model => model.Awards, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Awards, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Yeni Ücret Ekle</button>
}